.main_ing_div{
    margin: auto;
    width: 100%;
    position: relative;
    height: auto;
    background-color: white;
}

.main_header{
    width: 100%;
    height: 15vw;
    position: relative;
    margin-top: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #CAD3E6;
    color: #292A5F;
    /*border-bottom-style: solid;*/
    /*border-color: rgba(222,220,219,.5);*/
}

.ing_title{
    font-size: 3vw;
    font-weight: lighter;
    position: relative;
}

.bottom_ing_frame{
    /*position: relative;*/
    overflow: auto;
    width: 80%;
    position: relative;
    margin: auto;
    /*background-color: #c2bebb;*/
}

.car_frame{
    float: left;
    width: 50%;
    height: 100%;
    position: relative;
}

.ing_img_frame{
    position: relative;
    width: 30vw;
    height: 25vw;
    margin-top: 15%;
    margin-bottom: 15%;
    margin-left: auto;
    margin-right: 7%;
    background-color: white;
}

.ing_image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info_frame{
    float: left;
    width: 50%;
    height: 80%;
    font-family: Roboto, sans-serif;
    position: relative;
}

.info_header{
    font-size: 3vw;
    font-weight: lighter;
    color: #292A5F;
}

.info_body{
    font-weight: lighter;
    font-size: 1.8vw;
    line-height: 2em;
    color: #292A5F;
}

.inner_info_div {
    width: 30vw;
    height: 25vw;
    position: relative;
    margin-left: 7%;
    margin-top: 15%;
    margin-bottom: 15%;
    margin-right: auto;

}

.slide-arrow{
    position: absolute;
    top: 50%;
    font-size: 2vw;
}

.slide-arrow:hover{
    cursor: pointer;
}

.slide-arrow.left{
    left: 10%;
    z-index: 2;
}

.slide-arrow.right{
    /*float: left;*/
    right: 10%;
}
