.content{
    font-family: Roboto, sans-serif;
    color: #292A5F;
    text-align: left;
    /*padding: 30px;*/
    font-weight: lighter;
}

h2, h1 {
    font-family: Roboto, sans-serif;
    color: #292A5F;
    font-size: 45px;
    font-weight: lighter;
}

.sectionTitle{
    font-family: Roboto, sans-serif;
    color: #3667C2;
    font-size: 3vw;
    font-weight: lighter;
}

br {
    display: block;
    content: "";
    margin-top: 35px;
}

.date{
    font-family: Roboto, sans-serif;
    font-weight: lighter;
    color: #292A5F;
    text-align: left;
}

.post_frame{
    position: relative;
    margin: auto;
    width: 60%;
    text-align: left;
}