.main_ing_frame{
    font-size: 0;
    position: relative;
}

.header_frame{
    height: 300px;
    width: 100%;
    font-family: Roboto, sans-serif;
    position: relative;
    vertical-align: center;
    text-align: center;
}

.ingpage_header{
    font-size: 3vw;
    font-weight: lighter;
    margin-top: 5%;
    position: relative;
}

.ingpage_subheader{
    font-size: 1.5vw;
    font-weight: lighter;
    position: relative;
    margin-top: 20px;
}

.ingpage_base_info{
    font-size: 1.15vw;
    font-weight: lighter;
    margin-left: 15%;
    margin-right: 15%;
    line-height: 150%;
    position: relative;
}

.box_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box_header{
    font-size: 1.5vw;
    width: 70%;
    font-weight: lighter;
    position: relative;
    margin: auto;
    top: 35%;
    font-family: Roboto, sans-serif;
}

.box_text{
    font-size: 1.15vw;
    width: 60%;
    font-weight: lighter;
    position: relative;
    margin: auto;
    line-height: 200%;
    top: 45%;
    font-family: Roboto, sans-serif;
}

.modal_container{
    position: static;
    margin: auto;
    text-align: center;
}

.modal_img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin: auto;
    margin-top: 20px;
}

.modal_title{
    font-size: 5vw;
    font-weight: lighter;
    font-family: Roboto, sans-serif;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
}

.modal_header{
    font-size: 1.5vw;
    font-weight: lighter;
    font-family: Roboto, sans-serif;
    margin: auto;
    margin-bottom: 10px;
}

.modal_info{
    font-size: 1.15vw;
    font-weight: lighter;
    font-family: Roboto, sans-serif;
    margin-left: 15%;
    margin-right: 15%;
    line-height: 200%;
    text-align: center;
}